In [1]:
import requests

response = requests.get("https://raw.githubusercontent.com/apisit/thailand.json/master/thailand.json")
response.ok

True

In [8]:
for each in response.json()["features"]:
    province = each["properties"]["name"]
    print(province)

Mae Hong Son
Chumphon
Nakhon Si Thammarat
Phuket
Phangnga
Ranong
Surat Thani
Krabi
Phatthalung
Satun
Songkhla
Trang
Yala
Chiang Rai
Chiang Mai
Lampang
Lamphun
Nan
Phayao
Phrae
Phitsanulok
Sukhothai
Uttaradit
Kanchanaburi
Kamphaeng Phet
Phichit
Phetchabun
Suphan Buri
Tak
Uthai Thani
Ang Thong
Chai Nat
Lop Buri
Nakhon Nayok
Prachin Buri
Nakhon Sawan
Phra Nakhon Si Ayutthaya
Pathum Thani
Sing Buri
Saraburi
Bangkok Metropolis
Nonthaburi
Nakhon Pathom
Phetchaburi
Prachuap Khiri Khan
Ratchaburi
Samut Prakan
Samut Sakhon
Samut Songkhram
Si Sa Ket
Ubon Ratchathani
Amnat Charoen
Yasothon
Chon Buri
Chachoengsao
Chanthaburi
Sa Kaeo
Rayong
Trat
Buri Ram
Chaiyaphum
Khon Kaen
Kalasin
Maha Sarakham
Nakhon Ratchasima
Roi Et
Surin
Loei
Nong Khai
Sakon Nakhon
Udon Thani
Nong Bua Lam Phu
Nakhon Phanom
Mukdahan
Narathiwat
Pattani
Bueng Kan

### LOAD PROVINCE

In [32]:
import pandas as pd
import requests
import io
import re

In [44]:
url = "https://www.enghero.com/article/%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B9%83%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B9%84%E0%B8%97%E0%B8%A2-%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B8%AD%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%A4%E0%B8%A9"
headers = { "User-Agent": "Mozilla" }
response = requests.get(url, headers = headers)
dfs = pd.read_html(io.StringIO(response.text))

df_prov = dfs[0].drop("#", axis = 1).copy()
df_prov.columns = ["prov_th", "prov_en"]
df_prov["prov_en"] = df_prov["prov_en"].str.replace(" Province", "").apply(lambda x: re.findall(r'\((.*?)\)', x)[0] if re.findall(r'\((.*?)\)', x) else x).copy()
df_prov

               prov_th           prov_en
0        กรุงเทพมหานคร           Bangkok
1        จังหวัดกระบี่             Krabi
2     จังหวัดกาญจนบุรี      Kanchanaburi
3     จังหวัดกาฬสินธุ์           Kalasin
4     จังหวัดกำแพงเพชร    Kamphaeng Phet
..                 ...               ...
72   จังหวัดอำนาจเจริญ     Amnat Charoen
73     จังหวัดอุดรธานี        Udon Thani
74    จังหวัดอุตรดิตถ์         Uttaradit
75    จังหวัดอุทัยธานี       Uthai Thani
76  จังหวัดอุบลราชธานี  Ubon Ratchathani

[77 rows x 2 columns]

In [45]:
df = pd.read_excel("https://chachoengsao.gdcatalog.go.th/dataset/a85d2d8f-c1bb-483f-acc9-f111b042d835/resource/7ca89100-fe8a-4d2c-af7c-645c5d0c6ab0/download/dataset01_07.xlsx")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,จำนวนผู้ที่มีงานทำ จำแนกตามระดับการศึกษาที่ส...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,ระดับการศึกษาที่สำเร็จ,รวม,ชาย,หญิง
3,NaN,จำนวน,NaN,NaN
4,ยอดรวม,446880,248478,198402
5,NaN,NaN,NaN,NaN
6,1. ไม่มีการศึกษา,11208,3059,8149
7,2. ต่ำกว่าประถมศึกษา,64589,35255,29334
8,3. ประถมศึกษา,90619,48481,42138
9,4. มัธยมศึกษาตอนต้น,100054,61299,38755
10,5. มัธยมศึกษาตอนปลาย,85909,51520,34389
11,5.1 สายสามัญ,64419,34858,29561
12,5.2 สายอาชีวศึกษา,21084,16256,4828
13,5.3 สายวิชาการศึกษา,406,406,-
14,6. มหาวิทยาลัย,90251,46837,43414
15,6.1 สายวิชาการ,56185,24458,31727
16,6.2 สายวิชาชีพ,29694,20785,8909
17,6.3 สายวิชาการศึกษา,4372,1594,2778
18,7. อื่น ๆ,-,-,-
19,8. ไม่ทราบ,4249,2026,2223
20,NaN,ร้อยละ,NaN,NaN
21,ยอดรวม,100,100,100
22,NaN,NaN,NaN,NaN
23,1. ไม่มีการศึกษา,2.508056,1.3,4.107317
24,2. ต่ำกว่าประถมศึกษา,14.4,14.188379,14.785133
25,3. ประถมศึกษา,20.278151,19.511184,21.238697
26,4. มัธยมศึกษาตอนต้น,22.389456,24.66979,19.6
27,5. มัธยมศึกษาตอนปลาย,19.224177,20.73423,17.332991
28,5.1 สายสามัญ,14.415279,14.028606,14.899547
29,5.2 สายอาชีวศึกษา,4.718045,6.542229,2.433443
30,5.3 สายวิชาการศึกษา,0.090852,0.163395,-
31,6. มหาวิทยาลัย,20.195802,18.849556,21.881836
32,6.1 สายวิชาการ,12.572726,9.843125,15.99127
33,6.2 สายวิชาชีพ,6.644737,8.364926,4.490378
34,6.3 สายวิชาการศึกษา,0.978339,0.641505,1.400187
35,7. อื่น ๆ,-,-,-
36,8. ไม่ทราบ,0.950815,0.815364,1.120452