In [1]:
import pandas as pd
import requests
import time

In [2]:

START_YEAR = 50
START_MONTH = 12
SLEEP_S = 2 

endpoint = "https://stat.bora.dopa.go.th/stat/statnew/connectSAPI/stat_forward.php?API=/api/statpophouse/v1/statpop/list?action=41"
headers = { "User-Agent": "Mozilla" }
params = {
    "yymmBegin": int(f"{START_YEAR}{str(START_MONTH).zfill(2)}"),
    "yymmEnd": int(f"{START_YEAR}{str(START_MONTH).zfill(2)}"),
    "statType": 0,
    "statSubType": 999,
    "subType": 99,
}

def set_params(params, year, month):
    params["yymmBegin"] = int(f"{year}{str(month).zfill(2)}")
    params["yymmEnd"] = int(f"{year}{str(month).zfill(2)}")
    return params


def get_data(endpoint, headers, params):
    response = requests.get(
        url = endpoint,
        headers = headers,
        params = params,
    )
    if response.ok:
        return pd.DataFrame(response.json())
    return None


if input("Do you want to run this cell? (Y/n): ").lower() == "y":
    df = get_data(endpoint, headers, params)
    print(f"[*] Initilizing '{START_YEAR}{START_MONTH}' dataframe ")
    for year in range(START_YEAR + 1, 68):
        # for month in range(1, 13):
            month = 12
            if year == 67 and month > 1:
                break
            else:
                params = set_params(params, year, month)
                df_append = get_data(endpoint, headers, params)
                if df_append is None:
                    print(f"[!] No data for '{year}{str(month).zfill(2)}'")
                else:
                    df = pd.concat([df, df_append])
                    print(f"[*] Appending '{year}{str(month).zfill(2)}' dataframe")
            time.sleep(SLEEP_S)
    print(f"[+] Finished!\n")
    
df.head()

[*] Initilizing '5012' dataframe
[*] Appending '5112' dataframe
[*] Appending '5212' dataframe
[*] Appending '5312' dataframe
[*] Appending '5412' dataframe
[*] Appending '5512' dataframe
[*] Appending '5612' dataframe
[*] Appending '5712' dataframe
[*] Appending '5812' dataframe
[*] Appending '5912' dataframe
[*] Appending '6012' dataframe
[*] Appending '6112' dataframe
[*] Appending '6212' dataframe
[*] Appending '6312' dataframe
[*] Appending '6412' dataframe
[*] Appending '6512' dataframe
[*] Appending '6612' dataframe
[+] Finished!

,lstrLevel,lsregion,lscc,lsccDesc,lsrcode,lsrcodeDesc,lsaa,lsaaDesc,lstt,lsttDesc,lsmm,lsmmDesc,lsyymm,lssumtotMale,lssumtotFemale,lssumtotTot
0,0,0,10,กรุงเทพมหานคร,,,0,,0,,0,,5012,2727574,2988674,5716248
1,0,0,11,จังหวัดสมุทรปราการ,,,0,,0,,0,,5012,547341,579599,1126940
2,0,0,12,จังหวัดนนทบุรี,,,0,,0,,0,,5012,484838,539353,1024191
3,0,0,13,จังหวัดปทุมธานี,,,0,,0,,0,,5012,428791,468052,896843
4,0,0,14,จังหวัดพระนครศรีอยุธยา,,,0,,0,,0,,5012,367673,393039,760712

In [3]:
df.to_csv("../data/thailand_population_by_prov_year.csv")