In [2]:
import pandas as pd

In [3]:
url = "https://th.wikipedia.org/wiki/%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%8A%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%95%E0%B8%B2%E0%B8%A1%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%97%E0%B8%B5%E0%B9%88"

dfs = pd.read_html(url)
len(dfs)

2

In [7]:
df = dfs[0]
df.head()

   อันดับ      จังหวัด พื้นที่ (ตารางกิโลเมตร)[1]
0       1    เชียงใหม่                 22311.0743
1       2   นครราชสีมา                  20493.464
2       3    กาญจนบุรี                  19483.148
3       4          ตาก                  16406.650
4       5  อุบลราชธานี                  15774.000

In [10]:
df.drop("อันดับ", axis = 1, inplace = True)
df.head()

       จังหวัด พื้นที่ (ตารางกิโลเมตร)[1]
0    เชียงใหม่                 22311.0743
1   นครราชสีมา                  20493.464
2    กาญจนบุรี                  19483.148
3          ตาก                  16406.650
4  อุบลราชธานี                  15774.000

In [22]:
df[df["จังหวัด"] == "ยะลา"]

   จังหวัด พื้นที่ (ตารางกิโลเมตร)[1]
46    ยะลา               4,521.078[4]

In [13]:
df.to_csv("../data/prov_area.csv", encoding = "utf8")