In [3]:
import pandas as pd
import requests
import time, io, re

In [4]:
url = "https://www.enghero.com/article/%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B9%83%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B9%84%E0%B8%97%E0%B8%A2-%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2%E0%B8%AD%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%A4%E0%B8%A9"
headers = { "User-Agent": "Mozilla" }
response = requests.get(url, headers = headers)
dfs = pd.read_html(io.StringIO(response.text))

df_prov = dfs[0].drop("#", axis = 1).copy()
df_prov.columns = ["PROV_NAME", "prov_en"]
df_prov["prov_en"] = df_prov["prov_en"].str.replace(" Province", "").apply(lambda x: re.findall(r'\((.*?)\)', x)[0] if re.findall(r'\((.*?)\)', x) else x).copy()
df_prov["PROV_NAME"] = df_prov["PROV_NAME"].str.replace("จังหวัด", "")
df_prov.head()

       PROV_NAME         prov_en
0  กรุงเทพมหานคร         Bangkok
1         กระบี่           Krabi
2      กาญจนบุรี    Kanchanaburi
3      กาฬสินธุ์         Kalasin
4      กำแพงเพชร  Kamphaeng Phet

In [5]:
df_prov.to_csv("../data/province_th_en.csv")